.navbar {
    padding: 0;
    display: grid;
    grid-column: 1;
    position: fixed;
    background-color: #2C2C2E;
    width: 340px;
    height: 100vh;
    left: 0;
    overflow: hidden;
}

.navbar ul {
    padding: 0;
}
.navbar li {
    display: block;
    list-style: none;
    text-align: left;
    font-size: 32px;
    height: 50px;
    margin-left: 40px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: #9c9c9c;
}