
.progress-bar {
    width: 360px;
    height: 13px;
    background-color: #FF6F3D;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar__fill {
    height: 100%;
    width: 20px;
    background-color: #991613;
    transition: width 0.4s ease;
}
